// Paddings
$paddingSmall: 20px;
$paddingMedium: 40px;
$paddingBig: 60px;


// Colors
$purple200: #dbe3f4;
$purple500: #ccccff;

$blue100: #f8fbff;
$blue500: #48adf1;
$blue700: #0094ff;
$blue800: #274f6f;

$red500: #ff516d;

$green200: #ccffcf;
$green400: #32f4cd;
$green500: #48f1b4;
$green600: #02d57c;

$gray300: #eeeeee;
$gray400: #666666;
$gray500: #c9c9c9;
$gray600: #979797;
$gray700: #999999;
$gray900: #33393e;

$white: #ffffff;
$black: #111933;


// Fonts
$normal-font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
$bold-font-family: 'HelveticaNeueBold', Helvetica, Arial, sans-serif;

$base-font-size: 16px;


// Breakpoints
$large-screen: 1919px;
$medium-screen: 1367px;
$small-screen: 1023px;
$mobile-screen: 750px;
