.comment {
  position: relative;
  padding-left: calc(#{$paddingBig} * 2);

  @include respond-to('medium') {
    padding-left: $paddingBig;
  }

  @include respond-to('small') {
    padding-left: $paddingMedium;
  }

  @include respond-to('mobile') {
    padding-left: $paddingSmall;
  }

  &__content {
    overflow: hidden;
    padding: $paddingBig;
    margin: $paddingBig 0;
    background: var(--card-color);

    @include border-radius(12px);
    @include transition(all 500ms ease);
    @include box-shadow(
      9px 9px 16px -12px $gray600,
      -9px 9px 16px -7px var(--background-color)
    );

    @include respond-to('medium') {
      padding: $paddingMedium;
      margin: $paddingMedium 0;
    }

    @include respond-to('small') {
      padding: $paddingSmall;
      margin: $paddingSmall 0;
    }

    & > .content__header {
      padding-bottom: $paddingMedium;

      @include respond-to('small') {
        padding-bottom: $paddingSmall;
      }

      & > .header__title {
        margin-bottom: 5px;

        @include flexbox();
        @include align-items(center);

        & > h2 {
          margin-right: $paddingMedium;

          @include respond-to('small') {
            margin-right: $paddingSmall;
          }
        }

        & > .title__likes {
          @include flexbox();

          & > p {
            width: 30px;
            text-align: center;

            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
          }

          & > svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
            fill: var(--icon-color);

            @include transition(fill 500ms ease);

            &:hover {
              fill: $purple700;
            }
          }

          & > .likes__like-icon {
            @include transform(rotateZ(90deg));
          }

          & > .likes__dislike-icon {
            @include transform(rotateZ(-90deg));
          }

          & > .likes__icon--success {
            cursor: default;
            fill: $purple700;

            &:hover {
              fill: $purple700;
            }
          }

          & > .likes__icon--disable {
            fill: $gray600;
            cursor: default;

            &:hover {
              fill: $gray600;
            }
          }
        }
      }

      & > .header__date {
        color: $purple700;
      }
    }

    & > .content__action {
      padding-top: $paddingMedium;

      @include flexbox();
      @include align-items(center);

      @include respond-to('small') {
        padding-top: $paddingSmall;
      }

      & > .action__expand-icon {
        width: 30px;
        height: 35px;
        display: block;
        cursor: pointer;
        fill: $purple700;
        margin-right: 10px;
        --scale: 1;

        @include transition(all 500ms ease);
        @include transform(rotateX(0deg) rotateZ(-90deg) scale(var(--scale)));

        &--open {
          @include transform(
            rotateX(180deg) rotateZ(-90deg) scale(var(--scale))
          );
        }

        &:hover {
          --scale: 1.1;
        }

        @include respond-to('mobile') {
          width: 25px;
          height: 30px;
        }
      }
    }
  }
}
