.reply {
  overflow: hidden;
  position: relative;

  @include transition(height 500ms ease);

  &__content {
    padding-top: $paddingSmall;
  }

  &__button {
    width: initial;
    padding: $paddingSmall $paddingBig;

    @include respond-to('mobile') {
      padding: calc(#{$paddingSmall} / 2) $paddingMedium;
    }
  }
}
