body {
  font-family: $normal-font-family;
  background-color: var(--background-color);

  @include transition(background-color 500ms linear);
}

label {
  color: var(--text-color);

  @include font-size(24px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(22px);
  }

  @include respond-to("medium") {
    @include font-size(20px);
  }

  @include respond-to("small") {
    @include font-size(19px);
  }

  @include respond-to("mobile") {
    @include font-size(18px);
  }
}

p {
  color: var(--text-color);

  @include font-size(18px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(16px);
  }

  @include respond-to("medium") {
    @include font-size(14px);
  }

  @include respond-to("small") {
    @include font-size(13px);
  }

  @include respond-to("mobile") {
    @include font-size(12px);
  }
}

h1 {
  font-weight: bold;
  color: var(--text-color);
  font-family: $bold-font-family;

  @include font-size(36px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(34px);
  }

  @include respond-to("medium") {
    @include font-size(32px);
  }

  @include respond-to("small") {
    @include font-size(31px);
  }

  @include respond-to("mobile") {
    @include font-size(30px);
  }
}

h2 {
  font-weight: bold;
  color: var(--text-color);
  font-family: $bold-font-family;

  @include font-size(28px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(26px);
  }

  @include respond-to("medium") {
    @include font-size(24px);
  }

  @include respond-to("small") {
    @include font-size(23px);
  }

  @include respond-to("mobile") {
    @include font-size(22px);
  }
}

h3 {
  font-weight: bold;
  color: var(--text-color);
  font-family: $bold-font-family;

  @include font-size(23px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(21px);
  }

  @include respond-to("medium") {
    @include font-size(19px);
  }

  @include respond-to("small") {
    @include font-size(18px);
  }

  @include respond-to("mobile") {
    @include font-size(17px);
  }
}

h4 {
  font-weight: bold;
  color: var(--text-color);
  font-family: $bold-font-family;

  @include font-size(20px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(18px);
  }

  @include respond-to("medium") {
    @include font-size(16px);
  }

  @include respond-to("small") {
    @include font-size(15px);
  }

  @include respond-to("mobile") {
    @include font-size(14px);
  }
}

h5 {
  font-weight: bold;
  color: var(--text-color);
  font-family: $bold-font-family;

  @include font-size(17px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(15px);
  }

  @include respond-to("medium") {
    @include font-size(13px);
  }

  @include respond-to("small") {
    @include font-size(12px);
  }

  @include respond-to("mobile") {
    @include font-size(11px);
  }
}

h6 {
  font-weight: bold;
  color: var(--text-color);
  font-family: $bold-font-family;

  @include font-size(15px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(13px);
  }

  @include respond-to("medium") {
    @include font-size(11px);
  }

  @include respond-to("small") {
    @include font-size(10px);
  }

  @include respond-to("mobile") {
    @include font-size(9px);
  }
}

a {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: underline;
  font-family: $bold-font-family;

  @include font-size(23px);
  @include transition(color 500ms linear);

  @include respond-to("large") {
    @include font-size(21px);
  }

  @include respond-to("medium") {
    @include font-size(19px);
  }

  @include respond-to("small") {
    @include font-size(18px);
  }

  @include respond-to("mobile") {
    @include font-size(17px);
  }

  &:hover {
    color: $blue500;
  }
}
