.button {
  width: 100%;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding: $paddingSmall;
  background-color: $purple700;

  @include flexbox;
  @include border-radius(12px);
  @include align-items(center);
  @include justify-content(center);
  @include transition(background-color 500ms linear);

  @include respond-to('small') {
    padding: calc(#{$paddingSmall} / 2);
  }

  &:hover {
    background-color: $blue600;
  }

  &:disabled {
    background-color: $gray500;

    &:focus,
    &:hover {
      background-color: $gray500;
    }
  }
}
  