.fab-button {
  position: fixed;
  left: $paddingSmall;
  bottom: $paddingSmall;

  &__element {
    display: block;
    width: $paddingBig;
    height: $paddingBig;
    margin-bottom: 10px;
    pointer-events: none;

    @include transition(all 500ms ease);
    @include transform(
      translateY(calc((var(--index) * 10px + #{$paddingBig} * var(--index))))
        scale(0)
    );

    &--visible {
      @include transform(translateY(0) scale(0.8));
    }
  }
}
