.article-list {
  width: 100%;
  padding: $paddingBig 0;

  @include respond-to("medium") {
    padding: $paddingMedium 0;
  }

  @include respond-to("mobile") {
    padding: $paddingSmall 0;
  }

  &__menu {
    margin-bottom: $paddingBig;

    @include flexbox();

    @include respond-to("medium") {
      margin-bottom: $paddingMedium;
    }

    @include respond-to("mobile") {
      margin-bottom: $paddingSmall;
    }

    & > .menu__item {
      cursor: pointer;

      @include transition(color 500ms linear);

      &:not(:last-child) {
        margin-right: $paddingBig;

        @include respond-to("medium") {
          margin-right: $paddingMedium;
        }

        @include respond-to("mobile") {
          margin-right: $paddingSmall;
        }
      }

      &:after {
        content: "";
        width: 0px;
        height: 2px;
        display: block;
        background: $purple700;

        @include transition(width 500ms);
      }

      &--selected {
        color: $purple700;
      }

      &:hover:after {
        width: 101%;
      }
    }
  }

  &__content {
    grid-gap: $paddingBig;
    grid-template-columns: 1fr 1fr 1fr;

    @include grid();

    @include respond-to("large") {
      grid-gap: $paddingMedium;
    }

    @include respond-to("medium") {
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to("small") {
      grid-gap: $paddingSmall;
    }

    @include respond-to("mobile") {
      grid-template-columns: 1fr;
    }

    & > article {
      page-break-inside: avoid;
      break-inside: avoid-column;
    }
  }
}
