.container {
  margin: 0 auto;
  position: relative;
  max-width: $medium-screen;
  width: calc(100% - #{$paddingBig} * 2);
  padding: #{$paddingBig} #{$paddingBig};

  @include respond-to("medium") {
    width: calc(100% - (#{$paddingMedium} * 2));
    padding: #{$paddingMedium} #{$paddingMedium};
  }

  @include respond-to("small") {
    width: calc(100% - (#{$paddingSmall} * 2));
    padding: #{$paddingSmall} #{$paddingSmall};
  }

  @include respond-to("mobile") {
    width: calc(100% - #{$paddingSmall});
    padding: #{$paddingSmall / 2} #{$paddingSmall / 2};
  }
}
