.title {
  width: 100%;
  padding: $paddingBig 0;

  @include flexbox();
  @include align-items(center);
  @include justify-content(center);

  @include respond-to('medium') {
    padding: $paddingMedium 0;
  }

  @include respond-to('small') {
    padding: $paddingSmall 0;
  }

  &:before {
    height: 5px;
    content: '';
    flex: 1 1 0%;
    margin: 0 $paddingSmall;
    background-color: $purple700;

    @include respond-to('mobile') {
      margin: 0 calc(#{$paddingSmall} / 2);
    }
  }

  &:after {
    height: 5px;
    content: '';
    flex: 1 1 0%;
    margin: 0 $paddingSmall;
    background-color: $purple700;

    @include respond-to('mobile') {
      margin: 0 calc(#{$paddingSmall} / 2);
    }
  }
}
