.navbar {
  top: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  min-height: 70px;
  max-height: 70px;
  background-color: var(--card-color);

  @include flexbox();
  @include justify-content(center);
  @include transition(all 500ms linear);
  @include transform(translate3d(0, 0, 0));
  @include box-shadow(0 2px 4px 0 rgba(192, 192, 192, 0.5));

  &__content {
    max-width: $medium-screen;
    width: calc(100% - #{$paddingBig} * 2);
    padding: calc(#{$paddingSmall} / 2) #{$paddingBig};

    @include flexbox();

    @include respond-to('medium') {
      width: calc(100% - #{$paddingMedium} * 2);
      padding: calc(#{$paddingSmall} / 2) #{$paddingMedium};
    }

    @include respond-to('small') {
      padding: calc(#{$paddingSmall} / 2) #{$paddingSmall};
      width: calc(100% - #{$paddingSmall} * 2);
    }

    @include respond-to('mobile') {
      grid-template-columns: 1fr 1fr 1fr;
      padding: calc(#{$paddingSmall} / 2);
      width: calc(100% - #{$paddingSmall});

      @include grid();
    }

    & > .logo-icon {
      width: 40px;
      height: 50px;
      cursor: pointer;

      &--in-active {
        cursor: default;
      }
    }
  }

  &--hidden {
    @include transform(translate3d(0, -100%, 0));

    @include box-shadow(none);
  }

  &__progress {
    left: 0;
    height: 10px;
    bottom: -10px;
    position: absolute;
    background-color: $purple700;

    @include transition(all 500ms linear);

    @include respond-to('medium') {
      height: 8px;
      bottom: -8px;
    }

    @include respond-to('small') {
      height: 7px;
      bottom: -7px;
    }

    @include respond-to('mobile') {
      height: 6px;
      bottom: -6px;
    }
  }
}
