.search-button {
  width: 210px;
  height: 25px;
  margin: auto;
  padding: 10px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  position: relative;
  margin-right: $paddingBig;
  background-color: $purple700;

  @include flexbox();
  @include border-radius(50px);
  @include align-items(center);
  @include justify-content(center);

  @include respond-to('medium') {
    width: 190px;
  }

  @include respond-to('small') {
    width: 170px;
    margin-right: $paddingMedium;
  }

  @include respond-to('mobile') {
    padding: 0;
    width: 50px;
    height: 50px;
    margin-right: auto;
    background: $purple700;
  }

  &__label {
    left: 60px;
    color: $white;
    cursor: pointer;
    position: absolute;
    display: inline-block;

    @include transition(all 500ms ease);

    @include respond-to('medium') {
      left: 50px;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__icon {
    left: 20px;
    width: 25px;
    height: 25px;
    fill: $white;
    position: absolute;

    @include transition(all 500ms ease);

    @include respond-to('medium') {
      left: 15px;
    }

    @include respond-to('mobile') {
      padding: 0;
      left: 15px;
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    & > .search-button__label {
      left: 20px;

      @include respond-to('small') {
        left: 15px;
      }
    }

    & > .search-button__icon {
      left: 185px;

      @include respond-to('medium') {
        left: 170px;
      }

      @include respond-to('small') {
        left: 150px;
      }

      @include respond-to('mobile') {
        left: 15px;
      }
    }
  }
}
