.article-list {
  width: 100%;
  padding-top: $paddingBig;

  @include respond-to('medium') {
    padding-top: $paddingMedium;
  }

  @include respond-to('mobile') {
    padding-top: $paddingSmall;
  }

  &__menu {
    margin-bottom: $paddingBig;

    @include flexbox();

    @include respond-to('medium') {
      margin-bottom: $paddingMedium;
    }

    @include respond-to('mobile') {
      margin-bottom: $paddingSmall;

      @include flexbox();
      @include flex-direction(column);
    }

    & > .menu__item {
      cursor: pointer;
      width: fit-content;

      @include transition(color 500ms linear);

      &:not(:last-child) {
        margin-right: $paddingBig;

        @include respond-to('medium') {
          margin-right: $paddingMedium;
        }

        @include respond-to('mobile') {
          margin-bottom: 5px;
        }
      }

      &:after {
        top: 3px;
        left: 50%;
        width: 0px;
        height: 5px;
        content: '';
        display: block;
        position: relative;

        @include transition(all 500ms);
        @include linear-gradient(
          94deg,
          $blue600 5%,
          $purple700 59%,
          $red300 104%
        );

        @include respond-to('medium') {
          top: 2px;
          height: 4px;
        }

        @include respond-to('mobile') {
          top: 0;
          height: 2px;
        }
      }

      &--selected {
        color: $purple700;
      }

      &:hover:after {
        left: 0;
        width: 101%;
      }
    }
  }

  &__content {
    height: 100%;
    min-height: auto;
    grid-gap: $paddingBig;
    grid-template-columns: 1fr 1fr 1fr;

    @include grid();

    @include respond-to('large') {
      grid-gap: $paddingMedium;
    }

    @include respond-to('medium') {
      grid-gap: $paddingSmall;
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to('mobile') {
      grid-template-columns: 1fr;
    }

    & > article {
      page-break-inside: avoid;
      break-inside: avoid-column;
    }
  }
}
