.article-details {
  &__header {
    @include flexbox();

    & > .header__info {
      white-space: nowrap;
      margin-right: $paddingSmall;

      @include flexbox();
      @include align-items(center);

      @include respond-to('mobile') {
        margin-right: calc(#{$paddingSmall} / 2);
      }

      & > svg {
        width: 24px;
        height: 24px;
        fill: var(--icon-color);
        padding-right: calc(#{$paddingSmall} / 2);

        @include transition(fill 500ms linear);

        @include respond-to('mobile') {
          width: 21px;
          height: 21px;
          padding-right: calc(#{$paddingSmall} / 4);
        }
      }

      & > span {
        color: $green400;
        padding-left: 5px;
      }
    }
  }

  &__title {
    margin-top: $paddingMedium;

    @include respond-to('mobile') {
      margin-top: $paddingSmall;
    }
  }

  &__description {
    margin-top: 30px;

    @include respond-to('mobile') {
      margin-top: calc(#{$paddingSmall} / 2);
    }
  }
}
