.container {
  margin: 0 auto;
  position: relative;
  max-width: $medium-screen;
  width: calc(100% - #{$paddingBig} * 2);
  padding: 100px #{$paddingBig} #{$paddingBig};

  @include respond-to("mobile") {
    width: calc(100% - #{$paddingMedium} * 2);
    padding: 100px #{$paddingMedium} #{$paddingMedium};
  }
}
