.billboard {
  width: 100%;
  position: relative;

  @include flexbox();
  @include box-shadow(9px 9px 16px -12px $gray600, -9px -9px 16px -7px $white);

  &__border {
    width: 10px;

    @include linear-gradient(to bottom, $blue600 5%, $purple700 56%, $red300 100%);
  }

  &__content {
    padding: calc(#{$paddingBig} * 2);
    width: calc(50% - 5px - #{$paddingBig} * 4);
  }

  &__image {
    overflow: hidden;
    position: relative;
    width: calc(50% - 5px);
  }
}
