.billboard {
  width: 100%;
  position: relative;

  @include flexbox();
  @include box-shadow(9px 9px 16px -12px $gray600, -9px -9px 16px -7px $white);

  &__border {
    width: 10px;

    @include linear-gradient(
      to bottom,
      $blue600 5%,
      $purple700 56%,
      $red300 100%
    );
  }

  &__content {
    $padding: calc(#{$paddingBig} * 2);
    background-color: var(--card-color);
    width: calc(50% - 5px - #{$paddingBig} * 4);
    padding: $padding $padding calc(#{$padding} * 3) $padding;

    @include transition(background-color 500ms linear);

    @include respond-to('large') {
      padding: $padding $padding calc(#{$padding} * 3) $padding;
    }

    @include respond-to('medium') {
      $padding: calc(#{$paddingMedium} * 2);
      width: calc(50% - 5px - #{$paddingMedium} * 4);
      padding: $padding $padding calc(#{$padding} * 4) $padding;
    }

    @include respond-to('small') {
      width: calc(50% - 5px - #{$paddingMedium} * 2);
      padding: $paddingMedium $paddingMedium calc(#{$paddingMedium} * 5)
        $paddingMedium;
    }

    @include respond-to('mobile') {
      padding-bottom: calc(#{$paddingSmall} * 5);
      width: calc(100% - 10px - #{$paddingMedium} * 2);
    }

    & > .content__button {
      width: initial;
      margin-top: $paddingBig;
      padding-left: calc(#{$paddingBig} * 2);
      padding-right: calc(#{$paddingBig} * 2);

      @include respond-to('medium') {
        padding-left: calc(#{$paddingMedium} * 2);
        padding-right: calc(#{$paddingMedium} * 2);
      }

      @include respond-to('mobile') {
        margin-top: $paddingMedium;
        padding-left: $paddingMedium;
        padding-right: $paddingMedium;
      }
    }
  }

  &__image {
    overflow: hidden;
    object-fit: cover;
    position: relative;
    width: calc(50% - 5px);

    @include respond-to('mobile') {
      display: none;
    }
  }
}
