.pinned-articles-swiper {
  overflow: hidden;
  position: relative;
  padding: $paddingBig 0;

  @include respond-to('medium') {
    padding: $paddingMedium 0;
  }

  @include respond-to('mobile') {
    padding: $paddingSmall 0;
  }

  & .article-card {
    margin: 0 $paddingMedium;

    @include respond-to('mobile') {
      margin: 0 $paddingSmall;
    }
  }
}
