.search-page {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  padding: $paddingBig 0;
  pointer-events: visible;
  background: rgba(255, 255, 255, 0.95);

  @include respond-to('small') {
    padding: $paddingMedium 0;
  }

  &__header {
    position: relative;

    @include flexbox();

    & > .header__search-icon {
      width: 50px;
      height: 50px;
      fill: $gray600;

      @include respond-to('medium') {
        width: 45px;
        height: 45px;
      }

      @include respond-to('small') {
        width: 40px;
        height: 40px;
      }

      @include respond-to('mobile') {
        width: 35px;
        height: 35px;
      }
    }

    & > .header__input {
      margin: 0;
      border: none;
      color: $black;
      font-weight: 600;
      word-wrap: break-word;
      background: transparent;
      padding: 0 $paddingSmall;
      width: calc(100% - 140px);
      font-family: $bold-font-family;

      @include font-size(30px);

      &::placeholder {
        color: $gray600;
      }

      @include respond-to('medium') {
        width: calc(100% - 130px);

        @include font-size(28px);
      }

      @include respond-to('small') {
        width: calc(100% - 120px);

        @include font-size(26px);
      }

      @include respond-to('mobile') {
        width: calc(100% - 110px);

        @include font-size(24px);
      }
    }

    & > .header__close-icon {
      right: 0;
      width: 50px;
      height: 50px;
      fill: $gray600;
      cursor: pointer;
      position: absolute;

      @include transition(all 500ms ease);

      &:hover {
        fill: $purple700;

        @include transform(scale(1.1));
      }

      @include respond-to('medium') {
        width: 45px;
        height: 45px;
      }

      @include respond-to('small') {
        width: 40px;
        height: 40px;
      }

      @include respond-to('mobile') {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__article-list {
    padding-bottom: $paddingMedium;

    @include respond-to('small') {
      padding-bottom: $paddingSmall;
    }
  }
}
