{
  "presets": ["@babel/preset-typescript", ["@babel/preset-env", {
    "targets": {"node": 4}
  }]],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@server": ".",
        "@config": "./config",
        "@database": "./database",
        "@model": "./database/model"
      }
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}