.article {
  position: relative;

  &__content-wrapper {
    padding-left: calc(#{$paddingBig} * 2);
    width: calc(100% - #{$paddingBig} * 2);

    @include respond-to('medium') {
      padding-left: calc(#{$paddingMedium} * 2);
      width: calc(100% - #{$paddingMedium} * 2);
    }

    @include respond-to('mobile') {
      padding: 0;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    color: var(--text-color);

    & > p,
    blockquote {
      line-height: 1.6;

      @include font-size(24px);

      @include respond-to('large') {
        @include font-size(22px);
      }

      @include respond-to('medium') {
        @include font-size(20px);
      }

      @include respond-to('small') {
        line-height: 1.5;

        @include font-size(19px);
      }

      @include respond-to('mobile') {
        @include font-size(18px);
      }
    }

    & > * {
      padding: $paddingMedium 0;

      @include respond-to('small') {
        padding: $paddingSmall 0;
      }

      & em {
        font-style: italic;
      }

      & strong {
        font-weight: bold;
        font-family: $bold-font-family;
      }
    }

    & > code,
    blockquote {
      margin: $paddingMedium 0;

      @include respond-to('small') {
        margin: $paddingSmall 0;
      }
    }

    & > img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    & > blockquote {
      font-style: italic;
      border-left: 10px solid $purple700;
      padding: $paddingMedium 0 $paddingMedium $paddingBig;

      @include respond-to('medium') {
        padding: 0 $paddingMedium;
      }

      @include respond-to('small') {
        padding: $paddingSmall $paddingMedium;
        padding-right: 0;
      }

      @include respond-to('mobile') {
        border-width: 5px;
        padding: calc(#{$paddingSmall} / 2) $paddingSmall;
        padding-right: 0;
      }
    }

    & > code {
      padding: 5px 10px;
      color: $purple700;
      font-size: 0.85em;
      background: $gray300;
      display: inline-block;
      font-family: $code-font-family;

      @include font-size(23px);
      @include border-radius(4px);

      @include respond-to('large') {
        @include font-size(21px);
      }

      @include respond-to('medium') {
        @include font-size(19px);
      }

      @include respond-to('small') {
        padding: 4px 8px;

        @include font-size(18px);
      }

      @include respond-to('mobile') {
        padding: 2px 6px;

        @include font-size(17px);
      }
    }

    & > ul {
      list-style: disc;
      margin-left: 20px;
    }

    & > ol {
      list-style: decimal;
      margin-left: 20px;
    }
  }

  &__likes {
    cursor: pointer;
    width: fit-content;

    @include flexbox();
    @include align-items(center);

    & > svg {
      width: 40px;
      height: 40px;
      fill: $red500;
      margin-right: 10px;

      @include respond-to('mobile') {
        margin-right: 5px;
      }
    }

    & > #heart:hover {
      fill: $purple700;
    }

    & > label {
      color: var(--text-color);
    }
  }

  &__header {
    padding: $paddingBig 0;

    @include respond-to('small') {
      padding: $paddingMedium 0;
    }

    @include respond-to('mobile') {
      padding: $paddingSmall 0;
    }

    & > *:not(:first-child) {
      word-break: break-all;
      margin-top: $paddingMedium;

      @include respond-to('mobile') {
        margin-top: $paddingSmall;
      }
    }

    & > .content__header {
      @include flexbox();

      & > .header__info {
        white-space: nowrap;
        margin-right: $paddingSmall;

        @include flexbox();
        @include align-items(center);

        & > svg {
          width: 24px;
          height: 24px;
          fill: var(--icon-color);
          padding-right: calc(#{$paddingSmall} / 2);

          @include transition(fill 500ms linear);

          @include respond-to('mobile') {
            width: 21px;
            height: 21px;
            padding-right: calc(#{$paddingSmall} / 4);
          }
        }

        & > span {
          color: $green400;
        }

        & > * {
          padding-left: 5px;

          @include respond-to('mobile') {
            padding-left: 3px;
          }
        }
      }
    }
  }
}
