.comment {
  position: relative;
  padding-left: calc(#{$paddingBig} * 2);

  @include respond-to("medium") {
    padding-left: $paddingBig;
  }

  @include respond-to("small") {
    padding-left: $paddingMedium;
  }

  @include respond-to("mobile") {
    padding-left: $paddingSmall;
  }

  &__content {
    overflow: hidden;
    position: relative;
    background: $gray300;
    padding: $paddingBig;
    margin: $paddingBig 0;

    @include border-radius(12px);
    @include transition(all 500ms ease);

    @include respond-to("medium") {
      padding: $paddingMedium;
      margin: $paddingMedium 0;
      padding-bottom: $paddingBig;
    }

    @include respond-to("small") {
      padding: $paddingSmall;
      margin: $paddingSmall 0;
      padding-bottom: $paddingMedium;
    }

    & > .content__header {
      padding-bottom: $paddingMedium;

      @include respond-to("small") {
        padding-bottom: $paddingSmall;
      }

      & > p {
        color: $purple700;
      }
    }

    & > .content__expand-icon {
      width: 50px;
      height: 40px;
      display: block;
      cursor: pointer;
      fill: $purple700;
      --scale: 1;

      @include transition(all 500ms ease);
      @include transform(scale(var(--scale)) rotateX(0deg) rotateZ(-90deg));

      &--open {
        @include transform(scale(var(--scale)) rotateX(180deg) rotateZ(-90deg));
      }

      &:hover {
        --scale: 1.1;
      }
    }

    & > .content__reply {
      padding: 20px 0;
    }
  }
}
