.disqus {
  position: relative;

  &__header {
    text-align: center;
    padding-bottom: $paddingBig;

    @include respond-to("medium") {
      padding-bottom: $paddingMedium;
    }

    @include respond-to("small") {
      padding-bottom: $paddingSmall;
    }
  }
  
  &__first-depth {
    padding-left: 0;
  }
}