.mobile-menu {
  display: none;
  pointer-events: none;

  @include respond-to('mobile') {
    display: initial;
  }

  &:last-child {
    z-index: 1;
  }

  &__element {
    width: 30px;
    height: 30px;
    padding: 15px;
    display: block;
    cursor: pointer;
    fill: $purple700;
    position: relative;
    pointer-events: all;
    background-color: white;

    @include border-radius(100%);
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.5));
  }

  &__back-button {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    padding-right: 5px;
    clip-path: polygon(20% 50%, 100% 100%, 100% 0);

    @include linear-gradient(
      to bottom,
      $blue600 5%,
      $purple700 56%,
      $red300 100%
    );
  }
}
