.billboard {
  width: 100%;
  min-height: 70vh;
  max-height: 70vh;
  position: relative;

  @include flexbox();
  @include box-shadow(9px 9px 16px -12px $gray600, -9px -9px 16px -7px $white);

  @include respond-to('medium') {
    min-height: 60vh;
    max-height: 60vh;
  }

  @include respond-to('small') {
    min-height: 50vh;
    max-height: 50vh;
  }

  &__border {
    width: 10px;

    @include linear-gradient(
      to bottom,
      $blue600 5%,
      $purple700 56%,
      $red300 100%
    );
  }

  &__content {
    min-width: 30%;
    background-color: var(--card-color);
    padding-left: calc(#{$paddingBig} * 2);
    padding-right: calc(#{$paddingBig} * 2);

    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(flex-start);
    @include transition(background-color 500ms linear);

    @include respond-to('medium') {
      padding-left: calc(#{$paddingMedium} * 2);
      padding-right: calc(#{$paddingMedium} * 2);
    }

    @include respond-to('small') {
      min-width: 35%;
      padding-left: calc(#{$paddingSmall} * 2);
      padding-right: calc(#{$paddingSmall} * 2);
    }

    @include respond-to('mobile') {
      left: 0;
      right: 0;
      z-index: 1;
      height: 100%;
      min-width: 60%;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      padding-left: $paddingMedium;
      padding-right: $paddingMedium;
      background-color: transparent;

      @include flexbox();
      @include align-items(center);
    }

    & > .content__button {
      width: 70%;
      position: relative;
      margin-top: $paddingBig;

      @include respond-to('mobile') {
        margin-top: $paddingMedium;
      }
    }

    & > .article-details {
      @include respond-to('mobile') {
        padding: $paddingSmall;
        background-color: var(--card-color);

        @include transition(background-color 500ms linear);
      }
    }
  }

  &__image {
    overflow: hidden;
    object-fit: cover;
    position: relative;
  }
}
