.billboard {
  width: 100%;
  position: relative;

  &__image {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 10px solid $black;

    @include transform(scale(0.96));
  }

  &__content {
    left: 4%;
    z-index: 2;
    bottom: 30%;
    position: absolute;

    @include respond-to("mobile") {
      bottom: 25%;
    }

    & > .content__header {
      color: $white;
      font-weight: 100;
    }

    & > .content__title {
      color: $white;
      margin-bottom: $paddingSmall;

      @include font-size(100px);

      @include respond-to("large") {
        @include font-size(70px);
      }

      @include respond-to("medium") {
        @include font-size(65px);
      }

      @include respond-to("small") {
        @include font-size(45px);
      }

      @include respond-to("mobile") {
        margin-bottom: 0;
        @include font-size(32px);
      }
    }

    & > .content__description {
      color: $white;

      @include respond-to("small") {
        display: none;
      }
    }
  }

  &__links {
    left: 4%;
    z-index: 2;
    bottom: 20%;
    position: absolute;

    @include respond-to("mobile") {
      bottom: 12%;
    }

    & > a {
      color: $white;

      &:hover {
        color: $green600;
      }
    }
  }

  &__date {
    right: 0;
    z-index: 2;
    position: absolute;
    border-left: 5px solid $white;
    bottom: calc(20% - #{$paddingSmall});
    background-color: rgba(255, 255, 255, 0.2);

    padding: $paddingSmall;
    padding-right: 4%;

    & > h3 {
      color: $white;
    }

    @include respond-to("small") {
      border-width: 3px;
      padding: calc(#{$paddingSmall} / 2);
      padding-right: 4%;
    }

    @include respond-to("mobile") {
      bottom: calc(12% - #{$paddingSmall} / 2);
    }
  }
}
