.claim {
  padding: $paddingBig 0;

  @include flexbox();
  @include align-items(center);

  @include respond-to('medium') {
    padding: $paddingMedium 0;
  }

  @include respond-to('small') {
    @include flex-direction(column);
  }

  @include respond-to('mobile') {
    padding: 0 $paddingSmall;
  }

  &__image {
    margin-right: $paddingBig;

    & > img {
      width: 200px;
      height: 200px;

      @include border-radius(100%);

      @include respond-to('medium') {
        width: 180px;
        height: 180px;
      }

      @include respond-to('mobile') {
        width: 120px;
        height: 120px;
      }
    }

    @include respond-to('medium') {
      width: 180px;
      height: 180px;
      margin-right: $paddingMedium;
    }

    @include respond-to('small') {
      margin-right: 0;
      margin-bottom: $paddingMedium;
    }

    @include respond-to('mobile') {
      width: 120px;
      height: 120px;
      margin-bottom: $paddingSmall;
    }
  }

  &__text {
    width: 60%;
    line-height: 1.3;

    @include respond-to('medium') {
      width: 70%;
      line-height: 1.2;
    }

    @include respond-to('small') {
      width: 85%;
      text-align: center;
    }

    @include respond-to('mobile') {
      width: 100%;
      line-height: 1.1;

      @include font-size(24px);
    }
  }

  &__rainbow {
    color: $purple700;
  }
}
