.pinned-articles-swiper {
  overflow: hidden;
  padding: $paddingBig 0;

  @include respond-to("medium") {
    padding: $paddingMedium 0;
  }

  @include respond-to("mobile") {
    padding: $paddingSmall 0;
  }
}
