.home {
  &__article-list {
    margin-bottom: 10vh;

    @include respond-to("large") {
      margin-bottom: 8vh;
    }

    @include respond-to("medium") {
      margin-bottom: 6vh;
    }

    @include respond-to("small") {
      margin-bottom: 4vh;
    }

    @include respond-to("mobile") {
      margin-bottom: 2vh;
    }

    & > .article-list__label {
      line-height: 1.3;
      margin-left: 2px;
      display: inline-block;

      &:after {
        opacity: 0;
        font-size: 50%;
        font-weight: 100;
        content: "Expand all";

        @include transition(opacity 500ms linear);
      }

      &--hover {
        cursor: pointer;

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
